.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-card-content {
    padding: 8px;
  }
  .example-card-footer {
    padding: 8px;
  }

  .pad-button {
    margin: 10px;
  }

  .example-description {
    font-size: small;
    color: grey;
  }

  .example-a-pad {
    padding: 10px;
  }